.data-card {
  background-color: #22a7f0;
  color: #fff;
  width: 180px;
  border-radius: 8px;
  box-shadow: 0px 2px 4px #00000029;
  max-height: 85px;
  padding: 0.3rem 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text {
  font-weight: 300;
  font-size: 1rem;
}

.number {
  font-size: 3rem;
  font-weight: 300;
}
